{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-md-flex justify-content-md-center mt-2 mb-2 ml-2 mr-2">
                <input type="button" style="height:100vh !important;" class="btn btn-outline-primary btn-lg col-12 col-md-4" value="Wpisz hasło" onclick="location.href='option1';" />
                <input type="button" style="height:100vh !important;" class="btn btn-outline-primary btn-lg col-12 col-md-4" disabled value="Rozpoznawanie Twarzy" onclick="location.href='option2';" />
                <input type="button" style="height:100vh !important;" class="btn btn-outline-primary btn-lg col-12 col-md-4" disabled value="Weryfikacja dźwiękowa" onclick="location.href='option3';" />
            </div>
        </div>
    </div>
{% endblock %}