{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form action="verify1" method="post" class="col-12 d-flex justify-content-center">
                <div class="form-group">
                    <label for="option1_pin" class="col-12 text-center mt-5">Input Password</label>
                    <input type="password" class="form-control" id="option1_pin" name="option1_pin" placeholder="Password...">
                    <input type="submit" class="btn btn-primary col-12 mt-2">
                </div>
            </form>
        </div>
    </div>
{% endblock %}