{% extends "base.html" %}
{#{% block body %}#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <form action="verify1" method="post" class="col-12 d-flex justify-content-center">#}
{#                    <div class="form-group">#}
{#                        <label for="option1_pin" class="col-12 text-center mt-5">Input Password</label>#}
{#                        <input type="password" class="form-control" id="option1_pin" name="option1_pin" placeholder="Password...">#}
{#                        <input type="submit" class="btn btn-primary col-12 mt-2">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#{% endblock %}#}

{% block body %}
    <div class="container-fluid" >
        <form method="POST" action="" style="width: 500px;margin: auto">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.user.label(class="form-control-label") }}
                    {% if form.user.errors %}
                        {{ form.user(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock body %}